.paper {
    margin: 4vh;
    min-width: 20vw;
    max-width: 40vh;
    min-height: 20vh;
    float: left;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition: 0.6s ease;
    background: white;
    text-align: center;
    border-radius: 20px;
}

.paper:hover {
    box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
    transform: translateY(-1px);
}

img {
    max-width: 100%;
    max-height: 150px;
}

.poster {
    border-radius: 4px 4px 0 0;
    margin-bottom: 2vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    color: #303336;
    letter-spacing: 1px;
    margin: 2vh 4vw;
    font-family: 'Playfair Display', serif;
}

hr {
    width: 40%;
    margin: 3vh auto;
    border: 0;
    border-bottom: 1px solid #e6e9ec;
}

.btn, a.btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    line-height: 20px;
    border-radius: 4px;
    padding: 1vh 2vh;
    letter-spacing: 0.02rem;
    background: #664ef7;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

.btn, a.btn:hover {
    background: #7c66ff;
    box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, .08);
    transform: translateY(-1px);
}

.btn, a.btn:active {
    box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, .12);
    transform: translateY(1px);
}

.space {
    height: 4vh;
}